

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}


.layout{
  padding: 60px;
}


@media screen and (max-width: 1023px) {
  .layout{
    padding: 10px;
  }
}
@media screen and (max-width: 767px) {
  .layout{
    padding: 5px;
  }
}

input {
  -webkit-user-select: text;
  user-select: text;
}